* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: sans-serif;
  color: #5D6063;
}
a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  background: #B2D6FF;
}
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding: 0px;
  background: #D6E9FE;
}
.menu {
  align-items: stretch;
  width: 100%;
}
.menu > li {
  display: inline;
  margin-right: 0px;
  align-items: stretch;
  float: left;
}
.menu > li:last-of-type {
  margin-right: 0;
  float: right;
}
.menu > li a {
  display: block;
  padding: 25px;
  align-items: stretch;
}
.dropdown:hover .services-menu {
  display: flex;
  flex-direction: column;
  background: #B2D6FF;
  border-radius: 5px;
  padding-top: 75px;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -1;
}
.services-menu li {
  list-style: none;
  border-bottom: 1px solid #FFF;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}
.services-menu li:last-of-type {
  align-items: right;
  border-bottom: none;
}
.dropdown {
  position: relative;
}
.dropdown > span {
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.services-menu {
  display: none;
}
.active {
  background-color: #B2D6FF;
}
.container {
  display: flex;
  justify-content: left;
}
.grid {
  display: flex;
  padding-top: 72px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.grid-item {
  padding: 25px;
  width: 800px;
  background-color: #DDE0E3;
  border-bottom: 1px solid #5D6063;
}
.grid-item:last-child {
  border-bottom: none;
}
.grid-item > ul {
  list-style-type: none;
}
.grid-item > p a, .grid-item > ul a {
  text-decoration: underline;
}
.sidebar {
  display: flex;
  float: left;
  padding-top: 70px;
  width: 400px;
  overflow: hidden;
}
.footer {
  overflow: hidden;
  height: 75px;
  background-color: #D6E9FE;    /* Light blue */
}
